Author: Rebecca Bosneac

Assignment:
In this exercise, you will be working with data about bike share rentals. You can download the data here.

Your task is to engineer some new features to try to improve a model's ability to predict the total number of bike share rentals during a given hour of the day1. .

Import the data the drop the 'casual' and 'registered' columns. These are redundant with your target, 'cou2. nt'.
Transform the 'datetime' column into a datetime type and use it to create 3 new columns in the data frame containin
   *  the:
Name of th
   *  Month
Name of the Day of 
   * he Week
Hour o
       *  the Day
Make sure all 3 new columns are 'object' datatype so they can be one-hot enco
       * ed later.
Drop the 'datetime' and 'season' columns. These are now 3. The temperatures in the 'temp' and 'atemp' columns are in Celsius. Use `.apply()` and a Lambda function to convert them to Fahrenheit. 4. Create a new column, 'temp_variance,' which shows how much warmer or colder the current temperature ('temp') is than the average temperate for that day of the year ('atemp'). If the current temperature is warmer than average ('atemp'), the value in 'temp_variance' should be positive.
   * Drop the 'atemp' column.atemp' column.

In [1]:
# Imports
import numpy as np
import pandas as pd

In [2]:
# import the data
df = pd.read_csv(r"C:\Users\romo_\Documents\GitHub\Feature-Engineering-Exercise--Core-\bikeshare_train - bikeshare_train.csv")
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
# drop the 'casual' and 'registered' columns
df.drop(columns=['casual','registered'], inplace=True)
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: float64(3), int64(6), object(1)
memory usage: 850.6+ KB

In [5]:
df['datetime'] = pd.to_datetime(df['datetime'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(6)
memory usage: 850.6 KB

In [6]:
# transforming datetime column
df['month (name)'] = df['datetime'].dt.month_name()
df['day of week (name)'] = df['datetime'].dt.day_name()
df['hour of day'] = df['datetime'].dt.time
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of week (name),hour of day
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,16,January,Saturday,00:00:00
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,40,January,Saturday,01:00:00
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,32,January,Saturday,02:00:00
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,13,January,Saturday,03:00:00
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,1,January,Saturday,04:00:00

In [7]:
# drop the 'datetime' and 'season' columns
df.drop(columns=['datetime','season'], inplace=True)
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of week (name),hour of day
0,0,0,1,9.84,14.395,81,0.0,16,January,Saturday,00:00:00
1,0,0,1,9.02,13.635,80,0.0,40,January,Saturday,01:00:00
2,0,0,1,9.02,13.635,80,0.0,32,January,Saturday,02:00:00
3,0,0,1,9.84,14.395,75,0.0,13,January,Saturday,03:00:00
4,0,0,1,9.84,14.395,75,0.0,1,January,Saturday,04:00:00

In [8]:
# converting temp from Celsius to Fahrenheit
df['temp'] = df.apply(lambda x: (9/5)*x['temp']+32,axis=1)
df['atemp'] = df.apply(lambda x: (9/5)*x['atemp']+32,axis=1)
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of week (name),hour of day
0,0,0,1,49.712,57.911,81,0.0,16,January,Saturday,00:00:00
1,0,0,1,48.236,56.543,80,0.0,40,January,Saturday,01:00:00
2,0,0,1,48.236,56.543,80,0.0,32,January,Saturday,02:00:00
3,0,0,1,49.712,57.911,75,0.0,13,January,Saturday,03:00:00
4,0,0,1,49.712,57.911,75,0.0,1,January,Saturday,04:00:00

In [9]:
df['temp_variance'] = df['temp'] - df['atemp']
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of week (name),hour of day,temp_variance
0,0,0,1,49.712,57.911,81,0.0,16,January,Saturday,00:00:00,-8.199
1,0,0,1,48.236,56.543,80,0.0,40,January,Saturday,01:00:00,-8.307
2,0,0,1,48.236,56.543,80,0.0,32,January,Saturday,02:00:00,-8.307
3,0,0,1,49.712,57.911,75,0.0,13,January,Saturday,03:00:00,-8.199
4,0,0,1,49.712,57.911,75,0.0,1,January,Saturday,04:00:00,-8.199

In [10]:
avg_temp = df['atemp'].mean()

def bin_temp(temp):
    if temp < 0 :
        return 'Colder'
    else:
        return 'Warmer'

In [11]:
# create a new column, 'temp_variance,
df['temp_variance'] = df['temp_variance'].apply(bin_temp)
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of week (name),hour of day,temp_variance
0,0,0,1,49.712,57.911,81,0.0,16,January,Saturday,00:00:00,Colder
1,0,0,1,48.236,56.543,80,0.0,40,January,Saturday,01:00:00,Colder
2,0,0,1,48.236,56.543,80,0.0,32,January,Saturday,02:00:00,Colder
3,0,0,1,49.712,57.911,75,0.0,13,January,Saturday,03:00:00,Colder
4,0,0,1,49.712,57.911,75,0.0,1,January,Saturday,04:00:00,Colder

In [12]:
# drop the 'atemp' column
df.drop('atemp', inplace=True, axis=1)
df.head()

,holiday,workingday,weather,temp,humidity,windspeed,count,month (name),day of week (name),hour of day,temp_variance
0,0,0,1,49.712,81,0.0,16,January,Saturday,00:00:00,Colder
1,0,0,1,48.236,80,0.0,40,January,Saturday,01:00:00,Colder
2,0,0,1,48.236,80,0.0,32,January,Saturday,02:00:00,Colder
3,0,0,1,49.712,75,0.0,13,January,Saturday,03:00:00,Colder
4,0,0,1,49.712,75,0.0,1,January,Saturday,04:00:00,Colder